@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>Your account contains personal data that you have given us. This page allows you to download or delete that data.</p>
        <div id="personal-information" style="display: none">
            <ul>
                @foreach (var data in Model.PersonalData)
                {
                    <li><strong>@data.Key:</strong> @data.Value</li>
                }
            </ul>
        </div>
        
        <button class="btn btn-primary" onclick="
            const personalData = document.getElementById('personal-information');
            if (personalData.style.display === 'none') {
                personalData.style.display = 'block';
            }
            else {
                personalData.style.display = 'none';
            }
            if (personalData.style.display === 'none') {
                this.textContent = 'Show your personal information';
            }
            else {
                this.textContent = 'Hide your personal information';
            }
            ">
                Show your personal data
        </button>
        
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-primary" type="submit">Download</button>
        </form>
        <p>
            <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
        </p>
        <form method="get" asp-page="DeletePersonalData" class="w-100">
            <button type="submit" class="w-100 btn btn-lg btn-danger-custom">Delete</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
