@page "Actions/AuthorLikes"
@model Chirp.Web.Pages.Actions.AuthorLikesModel

@{
    ViewData["Title"] = "SendCheep";
}

<h3>@ViewData["Title"]</h3>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}