@page "/Actions/SendCheep"
@model Chirp.Web.Pages.Actions.SendCheepModel

@{
    ViewData["Title"] = "SendCheep";
}

<h3>@ViewData["Title"]</h3>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
