@using Chirp.Web.Pages.Shared.Models
@inject SignInManager<Author> SignInManager
@model SendCheepModel.InputModel

@if (SignInManager.IsSignedIn(User))
{
    <div class="cheepbox">
        <h3>What's on your mind @(User.Identity!.Name)?</h3>
        <form method="post" asp-page="SendCheep">
            <input style="float: left" type="text" aria-label="Enter message" asp-for="Message">
            <input type="hidden" name="returnUrl" value="@Context.Request.Path">
            <input type="submit" value="Share">
        </form>
    </div>
}
