@using Chirp.Core
@using Microsoft.AspNetCore.Identity
@inject SignInManager<Author> SignInManager
@inject UserManager<Author> UserManager

    @if (SignInManager.IsSignedIn(User))
    {
        <nav>
        <a href="/">Public Timeline</a> | 
        <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">about me</a> | <!--- Hello @User.Identity?.Name! -->
        <a asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">Logout</a>
        </nav>
    }
    else
    {
        <nav>
        <a href="/">Public Timeline</a> | 
        <a asp-area="Identity" asp-page="/Account/Register">Register</a> | 
        <a asp-area="Identity" asp-page="/Account/Login">Login</a>
        </nav>
    }
